:root {
   --orange: #ff5421;
   --black: #111;
   --blue: #226fb7;
   --light-blue: #e7f4f6;
   --purple: #6f42c1;
   --white: #fff;
   --dark-blue: #273c66;
}
html,
body {
   font-size: 15px;
   color: #505050;
   font-family: 'Rubik', sans-serif;
   vertical-align: baseline;
   line-height: 26px;
   font-weight: 400;
   scroll-behavior: smooth;
}
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
*,
*:before,
*:after {
   box-sizing: border-box;
}
input,
textarea,
select,
button {
   outline: none;
}
input {
   line-height: normal;
}
label,
button {
   cursor: pointer;
}
a {
   text-decoration: none;
}
img {
   display: block;
   max-width: 100%;
}

.container {
   width: 100%;
   max-width: 1170px !important;
   margin: 0 auto;
   padding: 0 15px;
}
