.admission {
   display: flex;
   align-items: center;
   background-color: #f3f8f9;

   margin-bottom: 80px;
}

.admission__image {
   flex: 1.3;
}

.admission__image img {
   height: auto;
   max-width: 100%;
}

.admission__description {
   flex: 1;
   padding: 0 100px;
}

.admission__description--button {
   background-color: #226fb7;
   font-weight: bold;
   padding: 16px 58px;
   border-radius: 30px;
   border-color: #226fb7;
}

.admission__description--items {
   margin-bottom: 25px;
}

.common {
   display: flex;
}

.common__concerns {
   flex: 1;
   background-color: #f3f8f9;
   padding: 40px;
}

.common__concerns--items {
   margin-bottom: 35px;
}

.common__video {
   flex: 1.3;
   background: url(../images/devplus/video_03.png);
   min-height: 615px;
   background-size: cover;
   background-position: center;
}

@media screen and (max-width: 900px) {
   .admission {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #f3f8f9;
   }

   .admission__description {
      padding: 25px 40px;
   }

   .common {
      display: flex;
      flex-direction: column;
   }

   .common__video {
      width: 100%;
   }
}

.btn-link:before {
   content: '\2212';
   margin: 0px 8px;
}

.btn-link.collapsed:before {
   content: '\002b';
   margin: 0px 8px;
}

.btn-link {
   background: #226fb7;
   color: white;
   border-radius: 0px;
   padding: 18px 10px;
   font-weight: bold;
}

.btn-link.collapsed {
   background: white;
   color: black;
}

.btn-link:hover {
   text-decoration: none !important;
   color: white;
}

.btn-link.collapsed:hover {
   text-decoration: none !important;
   color: black;
}

.card-header {
   padding: 0 !important;
}

.card {
   border-width: 0;
   margin-bottom: 30px;
}

.btn.focus,
.btn:focus {
   box-shadow: none;
   text-decoration: none !important;
}
