#preloader {
   background: #fff url(../images/devplus/logo_loading.png) no-repeat center;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   z-index: 9999;
   background-size: 100px;
   animation: zoomPreloader 3s infinite alternate;
}
#preloader::before {
   content: '';
   width: 150px;
   height: 150px;
   border-radius: 100rem;
   border-top: 5px solid #226fb7;
   animation: spinner 2s linear infinite;
   position: absolute;
}
#preloader::after {
   content: '';
   width: 150px;
   height: 150px;
   border-radius: 100rem;
   border: 3px solid #eee;
   position: absolute;
   z-index: -1;
}
@keyframes zoomPreloader {
   0% {
      background-size: 80px;
   }
   100% {
      background-size: 100px;
   }
}
@keyframes spinner {
   0% {
      transform: rotate(0deg);
   }
   50% {
      transform: rotate(180deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
.back-to-top {
   bottom: 40px;
   right: 20px;
   width: 40px;
   height: 40px;
   border-radius: 100rem;
   background-color: #226fb7;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 9998;
   opacity: 0;
   visibility: hidden;
   transition: all 0.2s ease;
}
.back-to-top i {
   font-size: 35px;
   color: #fff;
}
.back-to-top.active {
   opacity: 1;
   visibility: visible;
}

header {
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
header.sticky {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 9998;
   background: var(--white);
   transition: all 0.3s ease;
}
header.sticky .header__nav--link {
   line-height: 90px;
}
.header__brand .header__image {
   max-height: 35px;
}
.mobile__toggle--btn {
   font-size: 40px;
}
.sub__nav--close {
   display: none;
}
@media screen and (min-width: 992px) {
   .mobile__toggle--btn {
      display: none;
   }
}
@media screen and (max-width: 991px) {
   header nav {
      height: 90px;
      flex-wrap: nowrap !important;
      transition: all 0.3s ease;
   }
   .header__button--toggle {
      display: none !important;
   }
   .header__nav {
      display: flex;
      align-items: flex-start !important;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      top: 90px;
      opacity: 0;
      visibility: hidden;
      text-align: left;
      background-color: var(--white);
      transition: all 0.3s ease;
      z-index: 9998;
   }
   .header__nav.open-menu {
      opacity: 1;
      visibility: visible;
   }
   .header__nav > li {
      display: block;
      width: 100%;
   }
   .header__nav--link {
      display: block;
      width: 100%;
      line-height: 70px !important;
   }
   .header__nav > li:not(:last-child) {
      border-bottom: 1px solid var(--black) !important;
   }
   .sub__nav {
      top: 100%;
   }
   .sub__nav--close {
      padding: 10px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: #eee;
   }
   .sub__nav--close a,
   .sub__nav--close i {
      font-weight: bold;
      font-size: 20px;
      vertical-align: middle;
      text-decoration: none;
   }
}
.header__nav--link {
   padding: 0 25px;
   line-height: 120px;
   font-weight: 600;
   text-transform: uppercase;
   color: var(--black);
}
.header__nav--link.active {
   color: #226fb7 !important;
}
.sub__nav {
   min-width: 250px;
   padding: 15px 0;
   left: 0;
   right: 0;
   display: none;
   z-index: 9999;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.sub__nav--item {
   display: block;
   padding: 10px 30px;
   color: var(--black);
   font-weight: 400;
}
.sub__nav--item:hover {
   text-decoration: none;
}
.header__nav--link:hover {
   color: #226fb7;
   text-decoration: none;
}
.header__nav li:hover > a {
   color: #226fb7;
}
.header__button--toggle {
   width: 30px;
   height: 30px;
   z-index: 9998;
   cursor: pointer;
}
.item--parent {
   position: relative;
}
.item--parent::before {
   content: '+';
   position: absolute;
   left: auto;
   right: 10px;
   top: 50%;
   text-align: center;
   display: block;
   cursor: pointer;
   transform: translateY(-50%);
   transition: all 0.5s ease;
}
.item--parent > i {
   display: none;
}

.header__nav li:hover .item--parent::before {
   content: '-';
   transition: all 0.5s ease;
}
.header__button--toggle .line {
   background-color: var(--black);
   width: 30px;
   height: 2px;
   transition: all 0.3s ease;
}
.header__button--toggle .line1 {
   top: calc(50% + 8px);
   transform: translateY(-50%);
}
.header__button--toggle .line2 {
   top: 50%;
   transform: translateY(-50%);
}
.header__button--toggle .line3 {
   top: calc(50% - 8px);
   transform: translateY(-50%);
}
@media screen and (max-width: 991px) {
   .item--parent::before {
      content: '';
   }
   .header__nav li:hover .item--parent::before {
      content: '';
   }
   .sub__nav {
      display: none;
   }
   .item--parent > i {
      position: absolute;
      left: auto;
      right: 10px;
      top: 50%;
      text-align: center;
      display: block;
      cursor: pointer;
      transform: translateY(-50%);
      transition: all 0.5s ease;
      font-size: 40px;
   }
}
@media screen and (max-width: 1024px) {
   .sub__nav.open {
      display: block !important;
   }
}
.hero {
   padding: 125px 0 425px;
   background: url(../images/devplus/Devplus_missions.png);
   background-size: cover;
   background-position: center;
}
.hero__content {
   margin-left: auto;
   margin-right: auto;
   max-width: 750px;
   text-align: center;
}
.hero__tilte {
   font-family: 'Nunito', sans-serif;
   font-size: 45px;
   color: var(--white);
   font-weight: 700;
   line-height: 54px;
}
.hero__desc {
   font-size: 20px;
   line-height: 30px;
   font-weight: 400;
}
.hero__button--more {
   display: block;
   width: fit-content;
   margin-top: 30px;
   background-color: var(--orange);
   padding: 16px 58px;
   border-radius: 30px;
   color: var(--white);
   font-weight: 700;
   font-size: 16px;
   line-height: 25px;
   transition: all 0.3s ease;
}
.hero__button--more:hover {
   text-decoration: none;
   color: var(--white);
   background-color: #ff914d;
}
@media only screen and (max-width: 575px) {
   .hero__tilte {
      font-size: 30px;
      line-height: 36px;
   }
   .hero__desc {
      font-size: 20px;
      line-height: 30px;
   }
   .hero__button--more {
      padding: 10px 30px !important;
      font-size: 15px;
   }
}
.toggle-menu {
   z-index: 9998;
   top: 0;
   right: -500px;
   width: 500px;
   padding: 30px 50px;
   background-color: #fafafa;
   transition: all 0.3s ease;
   cursor: default;
}
.toggle-menu::-webkit-scrollbar {
   display: none;
}
.menu__button--close {
   background-color: var(--blue);
   width: 40px;
   height: 40px;
   border-radius: 100rem;
   cursor: pointer;
}
.menu__button--close .line-wrap {
   transition: all 0.5s ease;
}
.line-wrap .line {
   background-color: var(--white);
   width: 25px;
   height: 1px;
}
.line-wrap .line1 {
   transform: rotate(45deg);
}
.line-wrap .line2 {
   transform: rotate(-45deg);
}

.menu__image {
   margin-top: 50px;
   cursor: pointer;
}
.menu__image img {
   max-height: 35px;
}
.menu__desc {
   margin: 30px 0 26px 0;
   line-height: 1.8;
}
.mfp-wrap {
   width: calc(100% - 500px);
}
.mfp-bg {
   width: calc(100% - 500px);
}
.mfp-wrap.setwidth {
   width: 100%;
}
.mfp-bg.setwidth {
   width: 100%;
}

.menu__gallery {
   --f-columns: 3;
   --f-gap: 10px;
   margin-left: calc(-1 * var(--f-gap));
   margin-bottom: calc(-1 * var(--f-gap));
   margin-bottom: 20px;
}
.menu__gallery > * {
   margin-left: var(--f-gap);
   margin-bottom: var(--f-gap);
   width: calc((100% / var(--f-columns) - var(--f-gap)));
}
.gallery-image {
   transition: all 0.3s ease;
}
.gallery-image:hover {
   transform: scale(1.1);
}
.menu__bottom {
   margin-top: 20px;
   font-size: 30px;
   cursor: pointer;
}
.menu__bottom i:hover {
   font-size: 30px;
   color: var(--blue);
   transition: all 0.25s linear;
}
/* about */
.about {
   padding-bottom: 70px;
}
.about__fact {
   background: #e7f4f6;
   padding: 60px 60px 70px;
   border-radius: 5px;
   margin-top: -62px;
}
.about__road {
   margin-top: -62px;
}
@media only screen and (max-width: 991px) {
   .about__fact {
      margin-top: 70px;
   }
   .about__road {
      margin-top: 70px;
   }
}
@media screen and (max-width: 575px) {
   .about__fact {
      padding: 40px 30px 50px;
   }
   .about__devplus {
      font-size: 16px;
   }
   .about__fact--title {
      font-size: 25px !important;
      line-height: 30px !important;
   }
   .about__road {
      padding: 0;
   }
}
.road__header {
   background: #226fb7;
   font-size: 20px;
   padding: 18px 25px;
   font-weight: 600;
   color: #fff;
   margin-bottom: 10px;
}
.road__item {
   background: #e7f4f6;
   margin-bottom: 12px;
   border-radius: 3px;
   padding: 20px;
   padding-left: 0 !important;
}
@media screen and (max-width: 991px) {
   .road__item {
      padding: 30px;
   }
}
.road__item > span:first-child {
   left: 20px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 22px;
   color: var(--blue);
}
.road__item > span:first-child::before {
   content: '';
   position: absolute;
   left: 30px;
   width: 1px;
   background-color: var(--blue);
   height: 100%;
}
.road__item > span:nth-child(2) {
   padding-left: 70px;
   font-weight: 500;
}
.about__devplus {
   font-size: 18px;
   font-weight: 500;
   line-height: 28px;
   color: var(--blue);
   margin-bottom: 10px;
}

.about__fact--title {
   font-family: 'Nunito', sans-serif;
   font-weight: 700;
   font-size: 35px;
   line-height: 42px;
   margin-bottom: 26px;
}
.about__fact--desc {
   font-size: 18px;
   font-weight: 400;
   line-height: 30px;
}
@media screen and (min-width: 992px) {
   .mobile-nav-toggle {
      display: none !important;
   }
}
.mobile-nav-toggle {
   width: 34px;
   height: 34px;
   z-index: 9998;
   cursor: pointer;
   border-radius: 50px;
}
.mobile-nav-toggle .line {
   background-color: var(--blue);
   width: 25px;
   height: 2px;
   transition: all 0.3s ease;
   z-index: -1;
}
.mobile-nav-toggle .line-1 {
   top: calc(50% + 5px);
   transform: translateY(-50%);
}
.mobile-nav-toggle .line-2 {
   top: 50%;
   transform: translateY(-50%);
}
.mobile-nav-toggle .line-3 {
   top: calc(50% - 5px);
   transform: translateY(-50%);
}
.mobile-nav-toggle.button-nav-active .line {
   top: 15.5px;
   transition: all 0.3s ease;
}
.mobile-nav-toggle.button-nav-active .line-1 {
   transform: rotate(-135deg);
}
.mobile-nav-toggle.button-nav-active .line-2 {
   width: 0;
   height: 0;
   opacity: 0;
   transform: translateX(7rem);
}
.mobile-nav-toggle.button-nav-active .line-3 {
   transform: rotate(135deg);
}

.lightbox {
   inset: 0;
   z-index: 9998;
   background-color: rgba(0, 0, 0, 0.75);
}

.lightbox-content {
   width: 100%;
   height: 100%;
   margin: 0 auto;
   padding: 0 25px;
}
.lightbox__button--close {
   position: absolute;
   top: 30px;
   right: 30px;
}
.lightbox-content .lightbox-image {
   max-width: 100%;
   height: 90%;
   object-fit: cover;
   border-radius: 4px;
   user-select: none;
}

.lightbox-content i {
   color: white;
   font-size: 40px;
   cursor: pointer;
   flex-shrink: 0;
}
